# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Python virtual environment
/*/.venv

# Pose outputs ~~~ ignore mp4 files
**/pose_outputs/*.mp4


# ==============================================================================
# FLUTTER BUILD EXCEPTIONS
# ==============================================================================

# 1. Broadly ignore everything inside the build directory
/build/*

# ------------------------------------------------------------------------------
# ANDROID RELEASE EXCEPTION
# ------------------------------------------------------------------------------
!/build/app/
/build/app/*

!/build/app/outputs/
/build/app/outputs/*

!/build/app/outputs/flutter-apk/
/build/app/outputs/flutter-apk/*

!/build/app/outputs/flutter-apk/app-release.apk

# ------------------------------------------------------------------------------
# WINDOWS RELEASE EXCEPTION
# ------------------------------------------------------------------------------
!/build/windows/
/build/windows/*

!/build/windows/x64/
/build/windows/x64/*

!/build/windows/x64/runner/
/build/windows/x64/runner/*

# This un-ignores the entire Release folder containing your .exe and .dll files
!/build/windows/x64/runner/Release/
!/build/windows/x64/runner/Release/*