fastapi>=0.110.0
uvicorn[standard]>=0.29.0
pydantic>=2.0.0
requests>=2.31.0
python-multipart>=0.0.9
mediapipe==0.10.18
opencv-python>=4.5.4
numpy>=1.26.0,<2.0.0
protobuf>=4.25.3,<5
pandas==2.2.3
tqdm
torch>=2.0.0
scipy>=1.8.0